@import url('https://fonts.googleapis.com/css2?family=Poppins:wgth@200;400;700&display=swap');

* {
    box-sizing: border-box;
}

:root{
    --primary-color: #0b0b11;
    --secondary-color: #c4e988;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
}

h1 {
  color: var(--primary-color);
  margin: 0;
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 0.5rem;
  border-radius: 50px;
  font-size: 1rem;
  color: #fff;
  font-family: inherit;
}

.search:focus {
  outline: 0;
  background-color: var(--primary-color);
}

.Movie-header {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.poster-banner {
  border: none;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  margin: 10px;
  text-align: center;
  position: relative;
  transition: transform 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.poster-banner:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.poster-banner img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.poster-banner:hover img {
  transform: scale(1.1);
}


.movie-info {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.movie-info span {
  border-radius: 25px;
  padding: 0.2rem;
}

.poster-banner:hover .movie-info {
  opacity: 1;
}


.green {
  background-color: #4caf50;
}

.orange {
  background-color: #ff9800;
}

.red {
  background-color: #f44336;
}

.con {
  display: flex;
  padding: 20px;
}

.image-container {
  flex: 0 0 auto; 
  margin-right: 20px; 
}

.image-container img {
  width: 100%; 
  height: auto;
}

.details-container {
  flex: 1;
}

.con h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: white;
}

.con span {
  font-weight: bold;
  color: var(--secondary-color);
}

.con p {
  line-height: 1.6;
  color: white;
}

.simmov span {
  color: var(--secondary-color);
}

.similar-movies {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.navbuttons {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  width: 100%;
  z-index: 999;
}

#prev,
#next {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 20px;
  color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#prev:hover,
#next:hover {
  background-color: transparent;
  color: var(--secondary-color);
}

